<%= form_for(@ad, :html => { :multipart => true }) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 60, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :zone_id %><br />
    <%= select("ad", "zone_id", Zone.all.collect {|a| [a.name, a.id] }) %>
  </div>
  <div class="field">
    <%= f.label :ad_pic, "Choose an Image" %><br />
    <%= f.file_field :ad_pic %>
  </div>
  <div class="field">
    Current Image<br />
    <%= image_tag @ad.ad_pic.url(:thumb) %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :time_millis %><br />
    <%= f.text_field :time_millis %>
  </div>
  <div class="field">
    <%= f.label :duration_millis %><br />
    <%= f.text_field :duration_millis %>
  </div>
  <div class="field">
    <%= f.label :ad_set_id %><br />
    <%= select("ad", "ad_set_id", AdSet.all.collect {|a| [a.company_name, a.id] }) %>
  </div>
  <div class="field">
    <%= f.label :account_id %><br />
    <%= select("ad", "account_id", Account.all.collect {|a| [a.company_name, a.id] }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
