<%= form_for(@ad, :html => { :class => "form_clean_fields", :multipart => true }) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="span-16 last">
  <b><u>General Info:</u></b><br />
  <div class="span-12">
	<div class="span-12 greyBox">
      <div class="field">
        <%= f.label :name %><%= f.text_field :name %>
      </div>
	  <div class="field">
	    <%= f.label :description %><br />
	    <%= f.text_area :description, :cols => 40, :rows => 3 %>
	  </div>
	  <div class="field">
	    <%= f.label :zone_id %><%= select("ad", "zone_id", Zone.all.collect {|a| [a.name, a.id] }) %>
	  </div>
	  <div id="videoAd_fields">
	    <div class="field">
	      <%= f.label :time_millis %><%= f.text_field :time_millis %>
	    </div>
	    <div class="field">
	      <%= f.label :duration_millis %><%= f.text_field :duration_millis %>
	    </div>
	  </div>
	</div>
    <b><u>Ad Content:</u></b><br />
	<div class="span-12 greyBox">	
	  <div class="field">
	    <%= f.label :ad_pic, "Choose an Image for the Ad" %><br />
	    <%= f.file_field :ad_pic %>
	  </div>
	  <div class="field">
	    Current Image<br />
	    <% if !@ad.ad_pic_file_name.nil? then %>
	      <%= image_tag @ad.ad_pic.url(:thumb) %>
	    <% end %>
	  </div>
	  <div class="field">
	    <%= f.label :image_url, "Target URL for Image" %><br />
	    <%= f.text_field :image_url %>
	  </div>
	  <div class="field">
	    <%= f.label :html_src, "Build your own Ad from HTML" %><br />
	    <%= f.text_area :html_src, :cols => 60, :rows => 5 %>
	  </div>
	  <div class="field">
	    Preview of Ad HTML
	    <div class="AdHTMLPreview">
	      <%= markdown(@ad.html_src) %>
	    </div>
	  </div>
	</div>
	<!--
  <div class="field">
    <%# f.label :ad_set_id %><br />
    <%# select("ad", "ad_set_id", AdSet.all.collect {|a| [a.name, a.id] }) %>
  </div>
-->
	<div class="field">
	  <%= f.label :account_id %><br />
	  <%= select("ad", "account_id", Account.all.collect {|a| [a.company_name, a.id] }) %>
	</div>
	<div class="actions">
	  <%= f.submit %>
	</div>
  </div>
  <div class="prepend-4 span-6 last"></div>
</div>
<% end %>
