<h1>Listing ads</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Zone</th>
    <th>Image url</th>
    <th>Time millis</th>
    <th>Duration millis</th>
    <th>Ad set</th>
    <th>Account</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.name %></td>
    <td><%= ad.description %></td>
    <td><%= ad.zone_id %></td>
    <td><%= ad.image_url %></td>
    <td><%= ad.time_millis %></td>
    <td><%= ad.duration_millis %></td>
    <td><%= ad.ad_set_id %></td>
    <td><%= ad.account_id %></td>
    <td><img src="<%= ad.ad_pic.url(:thumb) %>" /></td>
    <td><%= link_to 'Show', ad %></td>
    <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    <td><%= link_to 'Destroy', ad, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ad', new_ad_path %>
