<p>
  <b>Name:</b>
  <%= @ad.name %>
</p>

<p>
  <b>Description:</b>
  <%= @ad.description %>
</p>

<p>
  <b>Campaign:</b>
  <%= @campaign_name %>
</p>

<p>
  <b>Zone:</b>
  <%= @zone_name %>
</p>

<% if !@ad.ad_pic_file_name.nil? then %>
<%= image_tag @ad.ad_pic.url %>
<%= image_tag @ad.ad_pic.url(:medium) %>
<%= image_tag @ad.ad_pic.url(:thumb) %>
<% end %>
<div class="field">
  Preview of Ad HTML
  <% if !@ad.html_src.nil? and (@ad.html_src != "") then %>
  <div class="AdHTMLPreview">
    <%= markdown(@ad.html_src) %>
  </div>
  <% end %>
</div>
<p>
  <b>Image url:</b>
  <%= @ad.image_url %>
</p>

<p>
  <b>Content Type:</b>
  <%= @ad.overlay_content_type %>
</p>

<p>
  <b>Time millis:</b>
  <%= @ad.time_millis %>
</p>

<p>
  <b>Duration millis:</b>
  <%= @ad.duration_millis %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
