<p>
  <b>Name:</b>
  <%= @network.name %>
</p>

<p>
  <b>Network type:</b>
  <%= @network.network_type_id %>
</p>

<p>
  <b>Account:</b>
  <%= @network.account_id %>
</p>


<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
