<h1><b>better</b>sense Demos</h1>
<h4>View the following demos to see the <b>better</b>sense system</h4>
<div class="span-16 last redhr"></div>
<div class="span-16 last">
<div class="span-16 last">
	<%= link_to '/demo/kaltura_video' do |link| %>
	  <span style="font-size:16px;font-weight:bold"><u>Delivering Context Targeted Ads</u></span>
	<% end %>
	<br />
  <div class="span-8">
    A demo video showing the <b>better</b>sense content sensitive ad delivery. Served by partner Nacamar, and leveraging the Kaltura HTML5 player.
  </div>
  <div class="span-8 last">
    <%= link_to '/demo/kaltura_video' do |link| %>
      <%= image_tag "kaltura_demo_pic_150.jpg" %>
    <% end %>
  </div>
</div>
<br />&nbsp;<br />
<div class="span-16 last">
	<%= link_to BetterSenseDemo::APP_CONFIG["video_demo_1"] do |link| %>
	  <span style="font-size:16px;font-weight:bold"><u>Video Analysis</u></span>
	<% end %>
	<br />
  <div class="span-8">
    Demonstration of the types of items the <b>better</b>sense system can extract from a video.
  </div>
  <div class="span-8 last">
    <%= link_to BetterSenseDemo::APP_CONFIG["video_demo_1"] do |link| %>
      <%= image_tag "video_demo_pic_1.jpg" %>
    <% end %>
  </div>
</div>

</div>
<br />
