<%# Need to show where scene's start / end
	Need to list items as they come on screen
	Need to show best category(ies) for an item
	Possibly show rank of keywords and categories
	
	Use API to make the connection?
%>
<% @video = Video.where(:name => 'Casino Royale Product Placement').first || Video.all.first %>
<%= javascript_include_tag "flowplayer-3.2.6.min" %>
<%= javascript_include_tag 'jquery.dataTables.min'%>
<%= javascript_include_tag 'better_category_animations'%>
<div class="indent1 padding">
	<div class="wrapper demos">
		<div class="grid_7 alpha">
			<div class="grid_7 alpha">
				<h4 class="h4-bg1">Video Analysis Demo</h4>
				<div class="demo_video_480">
					<a
						href="<%= @video.filepath %>" 
						style="display:block;width:<%= @video.res_x.to_s %>px;height:<%= @video.res_y.to_s %>px"
						id="player">
					</a>
					<script language="JavaScript">
						flowplayer("player", "/flash/flowplayer-3.2.7.swf", {
						    clip: {
						    // stop at the first frame and start buffering
						    autoPlay: false,
						    autoBuffering: false
						} } );
					</script>
				<%# 
				  vid_x = 480
				  vid_y = 360
				  kaltura_options = {}
				  video_size = [vid_x,vid_y]
				  kaltura_options[:size] = video_size
				%>
				<%# raw kaltura_player_embed('0_3byvgkh0', kaltura_options) %>
				</div>
			</div>
			<div class="grid_7 alpha">
				<div id="keyword_table_div"></div><br />
			</div>
			<div class="grid_7 alpha">
				<div id="scene_table_div"></div><br />
			</div>
		</div>
		<div class="grid_5 omega">
			<div class="grid_5">
				<h4 class="h4-bg1">How it Works?</h4>
				<div>
					<div><span>Step 1</span><hr>
						bla bla bla bla
					</div>
					<div><span>Step 2</span><hr>
						bla bla bla bla
					</div>
					<div><span>Step 3</span><hr>
						bla bla bla bla
					</div>
				</div>
			</div>
			<!--
			<div id="grid_5 categoryTable">
					<div class="grid_1 categoryBar categoryBarFirst" id="cBar1">
					</div>
					<div class="grid_1 categoryBar" id="cBar2">
					</div>
					<div class="grid_1 categoryBar" id="cBar3">
					</div>
			</div>
			-->
		</div>
	</div>
</div>