<%# Need to show where scene's start / end
	Need to list items as they come on screen
	Need to show best category(ies) for an item
	Possibly show rank of keywords and categories
	
	Use API to make the connection?
%>
<% logger.debug "Running demo with metadata object: " + @demo_video_metadata.to_json %>
<% @video = Video.where(:name => 'Casino Royale').first || Video.all.first %>
<%= javascript_include_tag "flowplayer-3.2.8.min" %>
<%= javascript_include_tag 'jquery.dataTables.min'%>
<%# javascript_include_tag 'better_category_animations'%>
<script type="text/javascript">
	var video_metadata = <%= @demo_video_metadata.to_json.html_safe %>
</script>
<div class="indent1 padding">
	<div class="wrapper demos">
		<div class="grid_7 alpha">
			<div class="grid_7 alpha">
				<h4 class="h4-bg1">Video Analysis Demo</h4>
				<div class="demo_video_480">
					<a
						style="display:block;width:<%= @video.res_x.to_s %>px;height:<%= @video.res_y.to_s %>px"
						id="player">
					</a>
				<%# 
				  vid_x = 480
				  vid_y = 360
				  kaltura_options = {}
				  video_size = [vid_x,vid_y]
				  kaltura_options[:size] = video_size
				%>
				<%# raw kaltura_player_embed('0_3byvgkh0', kaltura_options) %>
				</div>
			</div>
			<div class="grid_7 alpha demo_info">
				<div class="demo_info_title"><span>Metadata by <strong>better</strong>sense</span></div>
				<div class="demo_info_keyword">
					<span>Current keyword: </span><span id="curr_keyword"></span>
				</div>
				<div class="demo_info_box" id="demo_info_box"></div>
			</div>
			<!--
			<div class="grid_7 alpha">
				<div id="keyword_table_div"></div><br />
			</div>
			<div class="grid_7 alpha">
				<div id="scene_table_div"></div><br />
			</div>
			-->
		</div>
		<div class="grid_5 omega">
			<div class="grid_5">
				<h4 class="h4-bg3">How it Works?</h4>
				<div>
					<div class="demo_how_it_works_text">
						By analyzing videos scene by scene, <strong>better</strong>sense enables video publishers to place time-based, contextual ads.	
					</div>
					<hr />
					<div><img class="demo_how_it_works_image" src="/images/How-it-works_370px.jpg" ></img></div>
					<hr />
					<div class="demo_glossary_title">Glossary:</div>
					<div class="demo_element_description">
						<ul>
							<li><span>Scene</span>Automatically identified logical scenes within videos.</li>
							<li><span>Keyword</span>The best keyword for advertising purposes in this scene.</li>
							<li><span>Category</span>The recommended advertising category based on all matched items in this scene.</li>
							<li><span>Relevance</span>This items advertising value based on an item's prominence, ad performance, projected interest and more.</li>
						</ul>
						<%= link_to 'Learn More!','/how', :class=>"button2" %> 
					</div>
					
					<!--
					<div><span>Step 1</span><hr>
						bla bla bla bla
					</div>
					<div><span>Step 2</span><hr>
						bla bla bla bla
					</div>
					<div><span>Step 3</span><hr>
						bla bla bla bla
					</div>
					-->
				</div>
			</div>
			<!--
			<div id="grid_5 categoryTable">
					<div class="grid_1 categoryBar categoryBarFirst" id="cBar1">
					</div>
					<div class="grid_1 categoryBar" id="cBar2">
					</div>
					<div class="grid_1 categoryBar" id="cBar3">
					</div>
			</div>
			-->
		</div>
	</div>
</div>
<%= javascript_include_tag 'flow_demo'%>