<%= render "shared/header" %>

<h1>Videos</h1>

<table id="ver-minimalist">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <% if (user_signed_in?) %>
        <th scope="col"></th>
      <% end %>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <% if (user_signed_in?) %>
        <th scope="col"></th>
      <% end %>
    </tr>
  </tfoot>
  <tbody>
  
<% @videos.each do |video| %>
  <% if (video.viewable? or user_signed_in?) %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= video.name %></td>
      <td><%= video.description %></td>
      <td><%= link_to 'View', video %></td>
      <% if (user_signed_in?) %>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Video', new_video_path %>

<%= render "shared/footer" %>
