<h1>Image Recognition Demos</h1>
<h4>Click 'view' to demo this video</h4>
<br />
<table id="ver-minimalist">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <% if (admin_signed_in?) %>
        <th scope="col"></th>
      <% end %>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <% if (admin_signed_in?) %>
        <th scope="col"></th>
      <% end %>
    </tr>
  </tfoot>
  <tbody>
  
<% @videos.each do |video| %>
  <% if (video.viewable? or admin_signed_in?) %>
    <tr class="<%= cycle('vodd', 'veven') %>">
      <td><%= video.name %></td>
      <td><%= video.description %></td>
      <td><%= link_to 'View', video %></td>
      <% if (admin_signed_in?) %>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>
  </tbody>
</table>

<br />


<%= if (admin_signed_in?) then link_to 'New Video', new_video_path end %>
