<%= render "shared/header" %>

<h1>Videos</h1>

<table id="ver-minimalist">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Lengthmillis</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Lengthmillis</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </tfoot>
  <tbody>
  
<% @videos.each do |video| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= video.name %></td>
      <td><%= video.lengthmillis %></td>
      <td><%= video.description %></td>
      <td><%= link_to 'View', video %></td>
      <td><%= link_to 'Edit', edit_video_path(video) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Video', new_video_path %>

<%= render "shared/footer" %>
