<%= render "shared/header" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @video.name %>
</p>

<p>
  <b>Lengthmillis:</b>
  <%= @video.lengthmillis %>
</p>

<p>
  <b>Description:</b>
  <%= @video.description %>
</p>

<p>
  <b>Hashstring:</b>
  <%= @video.hashstring %>
</p>
 
<p>
  <b>File Path:</b>
  <%= @video.filepath %>
</p>

<h2>Extracted Images from Video</h2><br />
<%= render :partial => "iqeinfos/iqeinfo",
           :collection => @video.iqeinfos %>

<h2>Video Commands</h2><br />
<%= form_for([@video, @video.iqeinfos.build]) do |f| %>
  <div class="actions">
    <input name="videoAction[]" type="checkbox" value="200importImages" />Import Images on this video <br />
    <input name="videoAction[]" type="checkbox" value="100clearImages" />Clear Images on this video <br />
    <input name="videoAction[]" type="checkbox" value="300iqeprocess" />Process Through IQEngines <br />
    <input name="videoAction[]" type="checkbox" value="400iqeprocessmissing" />Process Missing Through IQEngines <br />
    <%= f.submit  "Send selected commands" %>
  </div> 
<% end %>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>

<%= render "shared/footer" %>
