<h1>Bettersense Demo</h1>
<div class="span-20 last redhr"></div>
<div class="span-20 last">
<span style="font-size:16px;font-weight:bold"><u><%= @video.description %></u></span> - Back to <%= link_to 'Demos', '/demo/' %>
</div>
<div class="span-20 last">
<% 
  kaltura_options = {}
  video_size = [@video.res_x,@video.res_y]
  kaltura_options[:size] = video_size
%>
<%= raw kaltura_player_embed(@nac_id, kaltura_options) %>

<% if (admin_signed_in?) then %>
  <%= link_to 'Edit', edit_video_path(@video) %> |
<% end %>
</div>
<%= link_to 'Back', videos_path %>
