          <% url = '/ad_sets/' + @ad_set.id.to_s + '/createAd' %>
          <%= form_for(@ad, :url => url, :html => { :multipart => true }, :remote => true) do |f| %>
            <%= f.label :name %>:&nbsp;<%= f.text_field :name %>
            <%= f.text_area :description, :hidden => true, :value => "Created from AdSet view" %>
            <%= f.text_field :time_millis, :hidden => true, :value => iqe.videotimemillis %>
            <%= f.text_field :account_id, :hidden => true, :value => @ad_set.account_id %>
            <%= f.text_field :iqeinfo_id, :hidden => true, :value => iqe.id %>
            <%= f.text_field :zone_id, :hidden => true, :value => Zone.find_by_name('Video Overlay (Text or Image)').id %>
            <%= f.text_field :ad_set_id, :hidden => true, :value => @ad_set.id %>
            <%= f.text_field 'nfo[iqe_id]', :value => iqe.id, :hidden => true %>
            <div class="actions">
              <%= f.submit :class => 'adModuleButton' %>
            </div>
          <% end %>
