  <!-- end #page --> 
    </div>
  </div>
  <div class="footer">
    <p>Copyright (c) 2011 bettersense.com. All rights reserved.<br />
	<a href="/contact/index"><u>Contact</u></a> - <a href="/team"><u>Our Team</u></a><br />
    <% if (user_signed_in?) %>
      <br />Signed in as <%= current_user.email %>.  <%= link_to "Sign out", destroy_user_session_path %>
	  <br /><%= link_to "My Account", '/account' %><%= render :partial => "shared/cart_footer" %>
    <% elsif (admin_signed_in?) %>
      <br />Signed in as <%= current_admin.email %>.  <%= link_to "Sign out", destroy_admin_session_path %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
    </p>
  </div>
  <!-- end #footer --> 
