<div id="show_videos_module" class="span-20 last">
	<%= form_tag("/videos/refresh_videos", {:remote => true, :method => "get"}) do %>
		<%= submit_tag "refresh_videos", :hidden=>true, :id=>"refresh_videos" %>
	<% end %>
	<% if @videos.empty? then %>
		<%= "<div>There are no videos in your library</div>".html_safe %>
	<% else %>
		<% @videos.select{|v| v.viewable == true }.each_with_index do |video, index| %>
			<% case (index % 3) %>
			<% when 0 %>
				<div class="span-6" >
			<% when 1 %>
				<div class="span-6 prepend-1" >
			<% when 2 %>
				<div class="span-6 prepend-1 last" >
			<% end %>
					<div id="video_module_<%=video.id.to_s%>" class="push-1">
						<%= render :partial => 'shared/show_video_module', :locals => {:video => video, :cart => @cart} %>
					</div>
				</div>
		<% end %>
	<% end %>
	<script type="text/javascript">
	//Tool Tip for image recognition
		<% @videos.select{|v| v.viewable == true }.each do |video| %>
			$('#video_info_<%=video.id.to_s%>').qtip();
		<% end %>
	</script>
</div>