<br />
<div class="slider-bg">
	<div id="slider">
		<div class="slide1">
			<h1>Video</h1>
			<h4>content sensitive advertising</h4>
			Leverage contextual and keyword advertising in your video campaign, complementing your existing systems.
		</div>
		<div class="slide2">
			<h1>Unique</h1>
			<h4>performance system</h4>
			The unique bettersense performance algorithm utilizes ad performance metrics and image-recognition technologies to automatically create a highly detailed meta-map of the content of your videos.
		</div>
		<div class="slide3">
			<h1>Offer</h1>
			<h4>advanced features</h4>
			to your customers and viewers, such as automatic product interaction, meta-tagging, scene searching, demographic targeting, and more!
		</div>
		</div>
	</div>
	<div class="links-bg">
		<a href="#" id="prev"><img src="images/prev-link.gif" alt="" /></a><a href="#" id="next"><img src="images/next-link.gif" alt="" /></a>
	</div>
</div>
<div class="indent">
	<div class="wrapper">
		<article class="grid_4 alpha">
			<h4 class="h4-bg">What We Do?</h4>
			<strong class="title">Overview</strong>
			<b>better</b>sense adapts the most successful online ad method, keyword-advertising, and enhances it to suit the world’s largest advertising market: TV and Online Video.
			<p>We monitor the content of videos using advanced <strong>image-recognition</strong> and <strong>social intelligence</strong> technologies to determinte the most suitable content-related advertisements.
			<br /><%= link_to 'Read  More','/about', :class=>"button2" %>
		</article>
		<article class="grid_4">
			<h4 class="h4-bg1">Check Out</h4>
			<strong class="title">Demos</strong>
			We've posted some demo videos showing what our solution can do.  Take a look <%= link_to 'here', '/demo', :id=>"nav_demo" %>.
			<strong class="title title-pad">Industry Chatter</strong>
			Online video consumption continues to press the accelerator, as <a href="http://www.comscore.com/Press_Events/Press_Releases/2011/3/comScore_Releases_February_2011_U.S._Online_Video_Rankings" target="_blank">recent numbers</a> from comScore show.  And with the inevitable <a href="http://www.reelseo.com/longform-video-content-masses/" target="_blank">shift of long-form content to the online space</a>, the time is now to take advantage of next-generation monetization tools.
<!--			<strong class="title title-pad">Partner Talk</strong>
			Our partners have good things to say about <b>better</b>sense. See what <%= link_to 'here','/about'%><br> -->
			<br /><%= link_to 'Read  More','/about', :class=>"button2" %> 
		</article>
		<article class="grid_4 omega">
			<h4 class="h4-bg2">What`s New?</h4>
			<strong class="title">About Bettersense Video</strong>
			<div class="image_thumb_border"><%= link_to image_tag("about_thumb.png", :border=>0, :width=>160, :height=>100), '/demo/about_video' %></div><br>
			Please view this new video showing how Bettersense works, and what we provide to our customers.
			
			<strong class="title title-pad">Web Release</strong>
			We've added features and content to our site!  Please see the <%= link_to 'how','/how'%>  page, and updated <%= link_to 'demo','/demo'%>.
		</article>
	</div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
		if ($("#slider").length) {	
			$('#slider').cycle({ 
				fx:     'fade', 
				speed:  'slow', 
				timeout: 7500, 
				speed: 1500,
				next:   '#next', 
				prev:   '#prev',
				after: onAfter
			});
		}
		$(function() {
			$('#prev img, #next img').animate({opacity:'1.0'},{queue:false,duration:0});
			$('#prev, #next').hover(function(){
				$(this).find('img').animate({opacity:'0.0'},{queue:false,duration:500});
			}, function(){
				$(this).find('img').animate({opacity:'1.0'},{queue:false,duration:500});
			});	
		});
	});
 </script>
<!-- end #content -->

