<%= javascript_include_tag "jquery.sausage" %>
<h1>Listing IQEInfos for video <%= @video.name %></h1>

<div id="piclist">
  <%= render 'picdivinfo', :iqeinfos => @iqeinfos %>
</div>
<script type="text/javascript">
  var url = "<%= request.fullpath %>" + "?page=";
</script>
<%= javascript_include_tag "bettersense_inf_scroll" %>
<%# render 'shared/loading' %>
<div class="fadepic span-16">
</div>
<%# will_paginate @iqeinfos %>
