<h1>Listing IQEInfos for video <%= @video.name %></h1>

<table>
<!--
  <tr>
    <th>imagepath</th>
    <th>image</th>
    <th>matcheditem</th>
    <th>videotimemillis</th>
    <th>results</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
-->
<% @iqeinfos.each do |iqeinfo| %>
  <tr>
    <td><%= iqeinfo.imagepath %></td>
    <td><img src="<%= iqeinfo.imagepath %>" /></td>
    <td><%= iqeinfo.matcheditem %></td>
    <td><%= iqeinfo.videotimemillis %></td>
    <td><%= iqeinfo.results %></td>
  </tr>
<% end %>
</table>

<br />

