<p id="notice"><%= notice %></p>

<p>
  <b>Image ID</b>
  <%= @iqeinfo.id %>
</p>
<p>
  <b>Image Path</b>
  <%= @iqeinfo.imagepath %>
</p>
<p>
  <b>Image</b>
  <img src="<%= @iqeinfo.imagepath %>" />
</p>
<p>
  <b>Matched Item</b>
  <%= @iqeinfo.matcheditem %>
</p>
<p>
  <b>Frame Time in Video</b>
  <%= @iqeinfo.videotimemillis %>
</p>
<p>
  <b>Total Results</b>
  <%= @iqeinfo.results %>
</p>

<%= link_to 'Edit', videos_path + "/" + @iqeinfo.video_id.to_s + '/iqeinfos/' + @iqeinfo.id.to_s + '/edit' %> |
<%= link_to 'Back', videos_path + "/" + @iqeinfo.video_id.to_s + '/iqeinfos/' %>

