<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :player_type_id %><br />
    <%= select("player", "player_type_id", PlayerType.all.collect {|p| [p.name, p.id] }) %>
  </div>
  <div class="field">
    <%= f.label :account_id %><br />
    <%= select("player", "account_id", Account.all.collect {|a| [a.company_name, a.id] }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
