<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Player type:</b>
  <%= @player.player_type_id %>
</p>

<p>
  <b>Account:</b>
  <%= @player.account_id %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
