<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @zone.name %>
</p>

<p>
  <b>Description:</b>
  <%= @zone.description %>
</p>

<p>
  <b>Zone type:</b>
  <%= @zone.zone_type_id %>
</p>

<p>
  <b>Account:</b>
  <%= @zone.account_id %>
</p>


<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
