<%# javascript_include_tag 'jquery-ui.min.js' %>
<%= form_for(@campaign) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="span-16 last">
  <div class="span-16 last grayBox">
    <div class="span-8">
      <%= f.label :name %><%= f.text_field :name, :size => 32, :maxlength => 64 %>
    </div>
    <div class="span-4">
      <%= f.label :budget %> $<%= f.text_field :budget, :size => 5, :maxlength => 8 %>
    </div>
    <div class="span-4 last">
      Max CPM Bid: $<%= f.text_field :assigned_cpm, :size => 5, :maxlength => 5 %>
    </div>
    <br /><hr>
    <div class="span-8">
      Start Date: <%= date_select(:campaign, :start_date) %><br />
    </div>
    <div class="span-8 last">
      End Date: <%= date_select(:campaign, :end_date) %><br />
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>

