<h1>Campaign <%= @campaign.name %></h1>
<h4>View your Campaign details and performance stats here</h4>
<div class="span-16 last redhr"></div>

<div class="span-16 last">
	<%= render :partial => "shared/show_campaign", :object => @campaign %>
    <%= render :partial => "shared/campaign_performance", :locals => {:campaign => @campaign, :campaignPerformance => @campaignPerformance} %>

  <br /><div class="span-16 last redhr"></div>
  <b><u>Performance of Ads within Campaign:</u></b><br /><br />
  <div class="span-16 last">
        <% @ads.each do |ad| %>
          <div class="span-16 last" style="border: 1px;border-style: solid;">
            <span style="padding-left:5px;font-size:16px;font-weight:bold"><u><%= ad.name %></u></span> - <%= ad.description %>
          </div>
            <div class="span-16 last grayBox">
			  <div class="span-4">
			    Total Clicks: <%= ad[:click_count] || 0 %><br />
			    <div class="blueBoxWithBorder" style="text-align:center">
			      <%= image_tag("chart.jpg", :alt => "Chart") %>
			    </div>
			  </div>
			  <div class="span-4 last">
			    Total Impressions: <%= ad[:impress_count] || 0 %></br>
			    <div class="blueBoxWithBorder" style="text-align:center">
			      <%= image_tag("chart.jpg", :alt => "Chart") %>
			    </div>
              </div>
              <div class="span-8 last">&nbsp;</div>
            </div>
          <br /><br /><br />
        <% end %>
  </div>
</div>

