<%= javascript_include_tag "jquery.sausage" %>
<%= javascript_include_tag "betteradModule" %>
<%= javascript_include_tag "swfobject", "jquery.uploadify.v2.1.4.js" %>
<p>
  <b>Name:</b>
  <%= @ad_set.name %>
</p>

<p>
  <b>Video:</b>
  <%= @ad_set.video_id %>
</p>

<p>
  <b>Account:</b>
  <%= @ad_set.account_id %>
</p>

<%= link_to 'Edit', edit_ad_set_path(@ad_set) %> |
<%= link_to 'Back', ad_sets_path %>
<br />
<div id="piclist">
  <%= render 'shared/picdiv' %>
</div>
<script type="text/javascript">
  window.cancel_scroll = false;
  var url = "<%= request.fullpath %>" + "?page=";
</script>
<%= javascript_include_tag "bettersense_inf_scroll" %>
<%= render 'shared/loading' %>

<div class="fadepic span-16">
</div>
