<%= render "shared/header" %>
<% 
  imagew = Video.find(@image_for_crowd.video_id).res_x
  imageh = Video.find(@image_for_crowd.video_id).res_y
%>  
<h1>Welcome to the Betterpic Interface</h1>

<div style="position: relative;">

  <canvas id="layer1" width="<%= imagew %>" height="<%= imageh %>">
  </canvas>
<!-- <canvas id="layer2" width="100" height="100" 
   style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
-->
</div>
<script>
  var gCanvasElement = document.getElementById('layer1');
  var myCanvas = gCanvasElement.getContext('2d');
  var betterpic = new Image();
  betterpic.onload = function() {
    myCanvas.drawImage(betterpic,0,0, <%= imagew %>, <%= imageh %>);
    };
  betterpic.src = '<%= @image_for_crowd.imagepath %>'
  gCanvasElement.addEventListener("click", halmaOnClick, false);

  function halmaOnClick(e) {
    var x;
    var y;
    if (e.pageX != undefined && e.pageY != undefined) {
	x = e.pageX;
	y = e.pageY;
    }
    else {
	x = e.clientX + document.body.scrollLeft +
            document.documentElement.scrollLeft;
	y = e.clientY + document.body.scrollTop +
            document.documentElement.scrollTop;
    }

    x -= gCanvasElement.offsetLeft;
    y -= gCanvasElement.offsetTop;

    coords = $('layer1').cumulativeOffset();
    x -= coords[0]
    y -= coords[1]
    $('xcoord').value = x;
    $('ycoord').value = y;

  }


  function drawSelectOptions()
  {
    
  }

</script>

Choose selector type: <table id="drawOptions">
<tr><td id="circle1" style="padding: 10px; border: solid #000 1px; background-image:url('images/drawCircle.jpg'); width:20px; height:20px;"><div id="drawCircle1">&nbsp;</div></td><td style="padding: 5px; border: solid #000 1px;"><div id="drawCircle2"><img width="30" height="30" src="images/drawCircle.jpg"></div></td><td style="border: solid #000 1px;"><div id="drawCircle3"><img width="40" height="40" src="images/drawCircle.jpg"></div></td></tr>
</table>
<br />
<form id="cImageInfo">
  <div>
  <table id="imageInfo">
    <tr><td>X Coord: <input type="text" name="xcoord" id="xcoord" placeholder="0.00"></td></tr>
    <tr><td>Y Coord: <input type="text" name="ycoord" id="ycoord" placeholder="0.00"></td></tr>
    <tr><td><input type="text" name="imagedesc" id="imagedesc" size="50" placeholder="Describe the Image"></td></tr>
  </table>
  </div>
</form>

<script>
  selectedTool = 1;
  Event.observe(window, 'load', function() {
    Event.observe('drawCircle1','click', function () {
      alert (Event.element(event).value);
      $('circle1').style.border = "solid #000 4px";
    });
    Event.observe('drawCircle2','click',function () {
      alert (Event.element(event).innerHTML);
    });
  });
  function selectDrawOption(event2)
  {
    alert (Event.element(event2).value);
  }
</script>
<%= render "shared/footer" %>
